# Ignore all filetypes by default except those explicitly allowed
*
!*/
!*.py
!*.md
!*.rst
!*.yaml
!*.yml
!*.json
!*.toml
!docs/images/*.png

# Include testing data, but not temp testing outputs
!tests/data/**/*.bsp
!tests/data/**/*.tpc
!tests/data/**/*.tls
!tests/data/**/*.fits
!tests/data/**/*.png
tests/temp

# Allowed paths
!requirements.txt
!.gitignore
!.pylintrc

# Ignored paths
.vscode
scratchpad.py
time_snippets.py
tools.py
profile_code.py
line_profile_code.py
