# Ignore all filetypes by default except those explicitly allowed
*
!*/
!*.py
!*.md
!*.sh
!*.rst
!*.yaml
!*.yml
!*.json
!*.toml
!*.bib
!docs/images/*.png
!examples/**/*.fits

# Include testing data, but not temp testing outputs
!tests/data/**/*.bsp
!tests/data/**/*.tpc
!tests/data/**/*.tls
!tests/data/**/*.fits
!tests/data/**/*.png
tests/temp

# Allowed paths
!*requirements.txt
!LICENSE.txt
!.gitignore
!.pylintrc
!.zenodo.json
!CITATION.cff
!CITATION.bib

# Ignored paths
.vscode
scratchpad*.py
time_snippets.py
tools.py
profile_code.py
line_profile_code.py
docs/default_backplanes.rst
python-type-stubs
