# Ignore all filetypes by default except those explicitly allowed
*
!*/
!*.py
!*.md
!*.rst
!*.yaml
!*.json
!docs/images/*.png

# Allowed paths
!requirements.txt
!.gitignore
!.pylintrc

# Ignored paths
.vscode