# Development requirements (e.g. for run_checks.sh)
ruff==0.16.0
pyright==1.1.411
pylint==4.0.6
coverage==7.15.2
setuptools==83.0.0
packaging==26.2
-r docs/requirements.txt

# Copy any changes here to exclude-patterns in dependabot.yml
