[tool.black]
skip-string-normalization = true
exclude = ""
# Manually set exclude="" to prevent black using .gitignore due
# to black not parsing trailing slashes in .gitignore correctly
# https://github.com/psf/black/issues/3694
extend_exclude = "python-type-stubs"


[tool.isort]
profile = "black"
extend_skip = ["python-type-stubs"]


[tool.coverage.run]
branch = true
include = ["planetmapper/*.py"]
omit = ["planetmapper/gui.py"]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "^\\s*\\.\\.\\.$",     # "..." lines (typing overloads etc.)
    "^if TYPE_CHECKING:$",
]


[tool.pylint.'MESSAGES CONTROL']
disable = [
    "C",
    "unused-variable",
    "no-else-return",
    "use-dict-literal",
    "duplicate-code",
    "too-many-arguments",
    "too-many-instance-attributes",
    "too-many-locals",
    "too-many-statements",
    "too-many-branches",
    "too-many-public-methods",
    "too-few-public-methods",
    "too-many-ancestors",
    "too-many-return-statements",
]
enable = ["useless-suppression"]

[tool.pylint.TYPECHECK]
generated-members = ["typing.ParamSpec.args", "typing.ParamSpec.kwargs"]

[tool.pylint.miscellaneous]
notes = ["FIXME", "XXX"] # Allow TODO comments, but not FIXME or XXX


[tool.pyright]
include = ["planetmapper/*.py", "setup.py"]
stubPath = "python-type-stubs/stubs"
reportPropertyTypeMismatch = true
reportConstantRedefinition = true
reportIncompatibleMethodOverride = true
reportIncompatibleVariableOverride = true
reportUnnecessaryComparison = true
reportUnnecessaryContains = true
