astropy<=7.0.1
matplotlib<=3.10.1
numpy<=2.2.5
Pillow<=11.2.1
spiceypy<=6.0.0
scipy<=1.15.2
photutils<=2.2.0
tqdm<=4.67.1
pyproj<=3.7.0
typing-extensions<=4.13.2

# Copy any changes here to the conda-forge recipe & setup.py
