astropy<=7.0.0
matplotlib<=3.10.0
numpy<=2.2.1
Pillow<=11.0.0
spiceypy<=6.0.0
scipy<=1.14.1
photutils<=2.0.2
tqdm<=4.67.1
pyproj<=3.7.0
typing-extensions<=4.12.2

# Copy any changes here to the conda-forge recipe & setup.py
